		@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

		span {
			font-size: 25px;
			font-family: 'Josefin Sans', sans-serif;
			
		}
		.nav-link {
			font-family: sans-serif;
			color: gray;
  			font-size: 14px;
			font-weight: 550;
  			padding: 10px;
		}

		#primarytop {
			background-color: white;
		}

	

		#greeting{
			text-align: center;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 20px;
			font-style: italic;
			text-transform: capitalize;

		}
		h1
		{
			text-align: center;
			font-size: 50px;
			font-family: cursive;
		}

	
		#footer {
			background-color: orange;
		}
		#footer-heading {
			color: whitesmoke;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 20px;
		}

		#nav-footer {
			color: black;
		}