		@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

		span {
			font-size: 25px;
			font-family: 'Josefin Sans', sans-serif;
			
		}
		.nav-link {
			font-family: sans-serif;
			color: gray;
  			font-size: 14px;
			font-weight: 550;
  			padding: 10px;
		}

		#primarytop {
			background-color: white;
			border-bottom: 2px solid orange;
		}
		h2 {
			font-family: cursive;
			font-size: 50px;
			text-align: center;
		}
		
		#p {
			color: whitesmoke;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 20px;
		}
		.address {
			font-family: sans-serif;
			color: whitesmoke;
		}
		#nav-footer {
			color: black;
		}
		.button {
			font-family: cursive;
			font-size: 20px;
		}
		#bgc {
			background-color: orange;
		}
		#link:hover {
			color: whitesmoke;
		}